* {
    box-sizing: border-box;
}

.center, .dialog {
    text-align: center;
}

.overflow {
    overflow-x: auto;
}

h1 {
    margin: 0px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

a {
    text-decoration: none;
}

footer {
    margin: 0px;
    padding: 25px 0px;
}

#logo {
    margin: 0px;
}

#menu {
    margin: 0 0 2rem 0;
}