* {
    box-sizing: border-box;
}

.center, .dialog {
    text-align: center;
}

/*.title {
    margin-bottom: 10px;
}*/

/*section {
    padding: 10px 50px;
    margin: 0px;
    overflow: auto;
    width: 100%;
    display: block;
}*/

h1 {
    margin: 0px;
}

nav {
    display: inline-block;
    width: 100%;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    padding: 0 5px 0 5px;
}

a {
    text-decoration: none;
}

/*header {
    margin: 0px;
    padding: 25px 0px;
}*/

footer {
    margin: 0px;
    padding: 25px 0px;
}